

:root {
  --background-main: rgb(45, 45, 45);
  --background-light: #353535;
  --background-lighter: #494949;
  --brand-color: #49b5d8;
  --text-color: #fff;
  --green: #5dd849;
  --red: #f26060;

  --base-drop-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  --text-transform-main: uppercase
  --text-transform-secondary: none;
  --text-fade-opacity: 0.7;
  --font: 'Kanit', sans-serif;

  --sidebar-fade-opacity: rgb(45, 45, 45, 0.2);
  
  --border-radius: 10px;

  
}

* {
  font-family: var(--font);
  font-weight: 200;
  color: var(--text-color);
  text-transform: uppercase;
box-sizing: border-box;
  
}

a {
  text-decoration: none;
}

@font-face {
    font-family: Kanit;
    font-weight: 100;
    src: url(../fonts/Kanit-Medium.ttf);
}
@font-face {
    font-family: Kanit;
    font-weight: 200;
    src: url(../fonts/Kanit-Bold.ttf);
}
@font-face {
    font-family: Kanit;
    font-weight: 300;
    src: url(../fonts/Kanit-Black.ttf);
}
