@import url(./branding.css);

body {
  padding: 0;
  margin: 0;
  /* background-color: var(--background-main); */
}

#sale-price {
  font-weight: 100;
  font-size: 10pt;
  margin-right: 10px;
  color: var(--red);
  text-decoration: line-through;
}

.modal-overlay {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-main);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  filter: brightness(0) blur(1px);
  opacity: 0.7;
}

.modal-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: absolute;
  align-items: center;
}

.modal {
  /* position: absolute; */
  padding: 2% 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
  width: auto;
  height: auto;
  background-color: var(--background-main);
  border-radius: var(--border-radius);
  filter: var(--base-drop-shadow);
}

.modal .modal-content {
  display: flex;
  /* position: absolute; */
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.modal #modal-title {
  font-size: 20pt;
  font-family: 300;
  margin: 10px;
}

.modal #modal-subtitle {
  position: relative;
  top: 12%;
  font-weight: 100;
  font-size: 12pt;
}

.modal-dismiss-row {
  /* position: absolute; */
  /* bottom: 10%; */
  margin-top: 10%;
}

.modal-dismiss-row #modal-dismiss-button {
  background: var(--brand-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 7px 25px;
  font-size: 14pt;
  cursor: pointer;
}

.site {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.sidebar {
  float: left;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  text-align: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  max-width: 40%;
  width: 50%;
}

.navbar {
  position: absolute;
  top: 20px;
  left: 0px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  vertical-align: baseline;
  height: auto;
  width: 100%;
}

.menu-icon {
  position: relative;
  top: 20px;
}

#players {
  font-size: 16pt;
  width: 100%;
}

#ip-pill {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-main);
  text-align: center;
  padding: 8px 20px;
  border-radius: 100px;
  margin: 3px;
}

#ip-pill #ip {
  font-size: 10pt;
  font-weight: 100;
  text-transform: lowercase !important;
}

#ip-pill:hover {
  background-color: var(--background-light);
  cursor: pointer;
  transition: transform 0.2s;
  transform: scale(1.05);
}

.server-logo #logo {
  height: 90px;
}

.package-overlay {
  position: absolute;
  bottom: 25%;
  /* background-color: var(--sidebar-fade-opacity); */
  width: 100%;
  height: 500px;
}

.featured-package {
  position: absolute;
  bottom: 0%;
  /* background-color: var(--sidebar-fade-opacity); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  height: 400px;
  width: 100%;
}

.featured-package #title {
  font-weight: 300;
  font-size: 36pt;
  text-align: center;
}

.featured-package .package {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 70%;
  width: 50%;
}

.featured-package #path {
  font-size: 18pt;
}

.featured-package #path-back {
  opacity: var(--text-fade-opacity);
  font-weight: 100;
}

.featured-package #package-logo {
  width: 150px;
}

.featured-package .package-info-bar {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.featured-package .package-info-bar #package-price {
  font-size: 18pt;
}

.featured-package .package-info-bar #view-button {
  font-size: 16pt;
  background: var(--brand-color);
  padding: 7px 20px;
  border-radius: var(--border-radius);
  outline: none;
  border: none;
}

.featured-package .package-info-bar #view-button:hover {
  transition: transform 0.2s;
  transform: scale(1.05);
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 3px;
  left: 2%;
  opacity: var(--text-fade-opacity);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hidden {
  display: none;
}

.navigation-container {
  background-color: #fff;
  width: 100%;
  height: auto;
  position: absolute;
  top: 20%;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.chevron {
  font-size: 24pt;
  font-weight: bolder;
  margin-left: 10px;
  opacity: var(--text-fade-opacity);
  cursor: pointer;
}

.dropdown {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  color: red;
}

.dropdown:hover .chevron {
  opacity: 1;

  transition: all 0.2s;
}

.navigation #navigation-title {
  font-size: 40pt;
}

.navigation ul:not(.subcategories) {
  position: absolute;
  left: 5%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}

.navigation ul li {
  margin-top: 20px;
  font-size: 18pt;
}

.navigation ul li a:not(.active) {
  font-weight: 200;
  opacity: var(--text-fade-opacity);
}

.navigation ul li a:not(.active):hover {
  opacity: 1;

  transition: all 0.2s;
}

.navigation ul li a.active {
  font-weight: 300;
  font-size: 24pt;
}

.subcategories {
  height: auto;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: flex-start;
}

.footer a {
  font-size: 8pt;
  font-weight: 100;
  text-transform: capitalize;
  text-decoration: none;
}

.footer #dot {
  font-size: 6pt;
  margin-inline: 5px;
}
/* SIDEBAR ^ */

/* CONTAINER */
.container {
  float: right;
  /* background-color: var(--background-main); */
  background-image: url('../images/etc/bg.png') !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-origin: 0 0;
  background-repeat: space;
  width: 100vw;
  height: 100vh;

  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.card {
  border-radius: var(--border-radius);
  background-color: var(--background-light);
  backdrop-filter: blur(100px);
  width: 100px;
  height: auto;
  /* display: flex;
  justify-content: center; */
  margin-top: 30px;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
}

.column {
  /* position: relative; */
  max-width: 30%;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.c1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column nowrap;
  margin-inline: 7.5%;
}

.sale-card {
  width: 100%;
  /* height: 80px; */
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.sale-accent {
  width: 20%;
  height: 100%;
  text-align: center;
  padding: 20px 10px;
  background-color: var(--brand-color);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sale-accent #sale-text {
  font-size: 18pt;
  font-weight: 300;
}

.sale-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-size: 12pt;
  font-weight: 100;
  width: 80%;
  padding: 10px 30px;
  text-transform: none;
  letter-spacing: 1.2px;
}

.spacer {
  height: 50px;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 50px;
  overflow-y: scroll;
  min-width: 50%;
}

::-webkit-scrollbar {
  max-width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--brand-color);
  border-radius: var(--border-radius);
}

.content #content-title {
  font-size: 40pt;
  font-weight: 300;
}

.content #content-subtitle {
  font-weight: 100;
  text-transform: none;
  text-align: left;
  line-height: calc(100% + 10px);
  letter-spacing: 1.2px;
}

#content-subtitle a {
  color: #7289da;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.username-card {
  width: 500px;
  height: 200px;
  background: var(--background-light);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username-card-title {
  position: relative;
  top: 5%;
}

.username-form {
  position: relative;
  top: 33%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

#username-input {
  outline: none;
  border: none;
  border-radius: var(--border-radius);
  width: 300px;
  height: 60px;
  background-color: var(--background-lighter);
  color: #ffffff;
  padding-left: 15px;
  text-transform: none;
  opacity: 1;
}

#username-input::placeholder {
  color: white;
  opacity: var(--text-fade-opacity);
}

label[for='username'] {
  position: absolute;
  bottom: -45%;
  left: 7%;
  font-size: 10pt;
  color: var(--red);
}

#username-submit {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: var(--border-radius);
  width: 80px;
  background-color: var(--brand-color);
  cursor: pointer;
  font-size: 11pt;
}

#username-submit:hover {
  transition: transform 0.2s;
  transform: scale(1.05);
  cursor: pointer;
}

.c2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column nowrap;
}

.login-card {
  padding: 10px 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-card #icon {
  width: 40px;
  border-radius: var(--border-radius);
  margin-right: 30px;
}

.login-card .account-prompt {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.account-prompt #logout-text {
  font-size: 10pt;
  color: var(--red);
  cursor: pointer;
}

.login-card .account-prompt #login-text {
  font-weight: 300;
  color: var(--green);
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.login-card .account-currency #currency {
  display: flex;
}

.cart-card {
  width: 100%;
  padding: 10px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cart-card .cart-icon {
  display: flex;
  margin-right: 20px;
}

.cart-card:hover {
  transition: all 0.2s;
  background-color: var(--brand-color);
  cursor: pointer;
}

.cart-card:not(:hover) {
  transition: all 0.2s;
  cursor: pointer;
}

.community-goals {
  width: 100%;
  overflow-y: scroll;
  padding: 10px;
  margin-top: 20px;
}

.donation-goal-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 80px;
  align-items: center;
}

.donation-goal-card .card-title {
  position: relative;
  font-family: 300;
  top: 0%;
}

.donation-goal-card .goal-progress {
  width: 150%;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.goal-progress .progress-item {
  width: 10px;
  height: 50px;
  background-color: var(--background-lighter);
  border-radius: var(--border-radius);
}
.progress-item.complete {
  background-color: var(--brand-color);
}

.donation-goal-card .card-footer {
  font-weight: 200;
  font-size: 10pt;
  bottom: 0;
}

/* ANIMATION */

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 50px;
  cursor: pointer;
}

.center:before,
.center:after,
.center div {
  background: #fff;
  content: '';
  display: block;
  height: 8px;
  border-radius: var(--border-radius);
  margin: 7px 0;
  transition: 0.5s;
}
.center:hover:after {
  transform: translateY(15px) rotate(135deg);
}
.center:hover:before {
  transform: translateY(-15px) rotate(-135deg);
}

.center:hover div {
  transform: scale(0);
}

.center:hover:before {
  transform: translateY(15px) rotate(135deg);
}
.center:hover:after {
  transform: translateY(-15px) rotate(-135deg);
}

.center:hover div {
  transform: scale(0);
}

.centernot {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 50px;
  cursor: pointer;
}

.centernot:before,
.centernot:after,
.centernot div {
  background: #fff;
  content: '';
  display: block;
  height: 8px;
  border-radius: var(--border-radius);
  margin: 7px 0;
  transition: 0.5s;
}
.centernot:not(:hover):after {
  transform: translateY(15px) rotate(135deg);
}
.centernot:not(:hover):before {
  transform: translateY(-15px) rotate(-135deg);
}

.centernot:not(:hover) div {
  transform: scale(0);
}

.centernot:not(:hover):before {
  transform: translateY(15px) rotate(135deg);
}
.centernot:not(:hover):after {
  transform: translateY(-15px) rotate(-135deg);
}

.centernot:not(:hover) div {
  transform: scale(0);
}
/* ANIMATION */
